# Supabase Configuration
REACT_APP_SUPABASE_URL=https://rpkgofkdundnjgexlqyy.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJwa2dvZmtkdW5kbmpnZXhscXl5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg0OTc1ODQsImV4cCI6MjA4NDA3MzU4NH0.IqeWwgLPPxxZX1Dy2HFfGHQzn3aXixFpsKkzxDNUmR4

# Backend API URL
REACT_APP_API_URL=http://localhost:5000/api
